<div>
  <div class="addTarefa">
    <input size="30" type="text" placeholder="Adicionar Tarefa" #inputTarefa>
    <input size="30" type="text" placeholder="Data de entrega" #dataTarefa>
    <button class="clicavel" (click)="adicionar(inputTarefa.value,dataTarefa.value)">+</button>
  </div>
  <ul *ngFor="let tarefa of listaTarefas">
    <li>
      {{tarefa.nome}}
      -
      {{tarefa.dataEntrega}}
    </li>
    <i class="clicavel" (click)=deletar(tarefa.id)>Concluir/Apagar tarefa</i>
  </ul>
</div>
